* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.compare-div{
  position: absolute;
  display: none;
  width: 12%;
}
#startButton_1, #startbutton_2{
  margin-left: 40%;
}
.video-overlay-1 , .video-overlay-2{
  position: absolute;
  display: none;
  width: 500px;
  height: 480px;
  left: 0px;
  top: 0px;
  padding-left:5px;
  padding-top: 20%;
  font-size: 380%;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: rgba(60, 251, 0, 0.3)
}
.camera{
    position: relative;
}
.overlay-text{
  font-family: monospace;
}

  